.searchBar {
    margin-top: 50px;
    margin-bottom: 65px;
}

.searchBar__Add {
    margin-left: 20px;
    text-align: center;
    border-radius: 30px;  
    font-weight: 700;
}

.knowledgeBox {
    margin-top: 15px;
}

.knowledgeBox__header {
    line-height:10px;
    margin-top: 20px;
}

.knowledgeBox__hr {
    margin-left: 1px;
}

.knowledgeBox__entry {
    margin-left: 2px;
    margin-bottom: 10px;
}

.knowledgeBox__entry__link {
    margin-left: 8px;
}